{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 150,
  "jsxBracketSameLine": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "jsxSingleQuote": true
}